body{
    background-color: #ffffff;
    margin:0;
    border: 0;
    padding: 0;
    font-family:'raleway';
}

  
.block,
.chain {
    font-size: 200px;
    position: relative;
    transition: transform 0.3s ease;

}
  
.block {
    left: 90px;
}
  
.chain {
    right: 175px;
    top: 150px;
}
  
.vide{
    padding-top: 10000px;
}

#blockchain-container {
    position: sticky;
    top: 10%; 
    left: 50%;
    transform: translate(-50%, -70%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
  animation-name: fadeIn; 
  animation-duration: 2s; 
  animation-delay: 0.5s; 
  animation-fill-mode: forwards; 
}

.banner {
    color: #ffffff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 150vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(19,19,19,1) 80%, rgba(255,255,255,1) 100%);
    
}
.banner p {
    position: sticky;
    top: 10%; 
    left: 50%;
    transform: translate(-50%, -70%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeIn; 
    animation-duration: 2s; 
    animation-delay: 0.5s; 
    animation-fill-mode: forwards; 
}
.scroll-container {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 100%; 
  }
  
  .scroll-container::-webkit-scrollbar {
    display: none;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.content {
    
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10%;
}
.content h1{

    font-size: 175px;
    
}

.content h2{
    
    font-size: 75px;
    
}

.content p {
    text-indent: 100px;
    text-align: justify;
    margin: 0 auto;
    max-width: 50%;
    font-size: 40px;
}

.navigation{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5cm;
}

.navigation p {
    margin: 0 auto;
    max-width: 50%;
    font-size: 40px;
    padding-bottom: 3%;
}

.button {
    background-color: #000000; /* Couleur de fond noire */
    color: #ffffff; /* Couleur du texte en blanc */
    border: none; /* Pas de bordure */
    padding: 40px 80px; /* Espacement intérieur du bouton */
    text-align: center; /* Centrer le texte horizontalement */
    text-decoration: none; /* Supprimer la décoration de lien par défaut */
    display: inline-block; /* Afficher le bouton en tant que bloc inline */
    cursor: pointer; /* Afficher un curseur pointer au survol */
    font-size: 30px; /* Taille de police du texte */
    font-weight: bold; /* Gras pour le texte */
    border-radius: 15px; /* Arrondir les coins du bouton */
  }
  
  .button:hover {
    background-color: #333333; /* Couleur de fond noire foncée au survol */
  }

  .footer{
    color: #ffffff;
    grid-area: l-f;
    display: grid;
    justify-items: center;
    row-gap: 40px;
    padding: 15px 0 15px;
    background-color: rgb(27, 27, 27);
    bottom: 0;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 0;
    
  }
  
  #logo{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  
  #logo .logou{
    display: inline;
    cursor: pointer;
    list-style: none;
    padding-right: 20px;
  }
  
  .logo{
    width: 50px;
    height: 50px;
  }