body{
    background-color: #ffffff;
    margin:0;
    border: 0;
    padding: 0;
    font-family:'raleway';
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 100%; 
    transition: background-color 0.5s ease-in-out;
}
body.dark-mode{
    background-color: #1f1f1f;
}

@font-face {
  font-family: raleway;
  src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

.dark-mode {
    background-color: #1f1f1f;
    color: #ffffff;
}
.dark-mode .banner {
    color: #1f1f1f;
    background: linear-gradient(0deg, #1f1f1f 0%, rgb(172, 172, 172) 80%, rgba(255,255,255,1) 100%);
  }
.block,
.chain {
    font-size: 900%;
    position: relative;
    transition: transform 0.3s ease;

}
  
.block {
    left: 90px;
}
  
.chain {
    right: 175px;
    top: 150px;
}
  
.vide{
    padding-top: 10000px;
}

#blockchain-container {
    position: sticky;
    top: 20%; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
  animation-name: fadeIn; 
  animation-duration: 2s; 
  animation-delay: 0.5s; 
  animation-fill-mode: forwards; 
}

.header{
    color: #ffffff;
    background-color: #000000;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-top: 3%;
    padding-left: 3%;
    align-items: center;
    
}

.banner {
    color: #ffffff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 125vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(19,19,19,1) 80%, rgba(255,255,255,1) 100%);
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  }

.banner p {
    position: sticky;
    top: 55%; 
    left: 55%;
    transform: translate(-70%, -90%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeIn; 
    animation-duration: 2s; 
    animation-delay: 0.5s; 
    animation-fill-mode: forwards; 
}
body::-webkit-scrollbar {
    display: none;
}
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.content {
    
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10%;
    max-width: 90%;
}
.content h1{
    
    font-size: 175px;
    
}

.article {
    display: flex; /* Utilisation de la flexbox pour afficher les éléments côte à côte */
    align-items: center; /* Alignement vertical au centre */
    justify-content: center; /* Alignement horizontal au centre */
    
}
.column {
    flex-direction: column;
}
.content h2{
    
    font-size: 75px;
    
    
}

.content .column h2 {
    order: 1;
}

.content h3{
    
    font-size: 50px;
    
}

.content h4 a {
    text-decoration: none;
    color: #000000;
}

.dark-mode .content h4 a{
    text-decoration: none;
    color: #ffffff;
}

.content h4 a:hover {
    text-decoration: underline;
}
.content p {
    text-align: justify;
    flex: 1; /* Permet au paragraphe de prendre autant d'espace que possible */
    margin-right: 7%; /* Marge à droite pour espacer le paragraphe de l'image */
    margin-left: 7%;
    font-size: 30px;
}
.content .column p {
    text-align: justify;
    flex: 1; /* Permet au paragraphe de prendre autant d'espace que possible */
    margin-right: 7%; /* Marge à droite pour espacer le paragraphe de l'image */
    margin-left: 7%;
    font-size: 30px;
    order: 2;
}
.content img {
    width: 40%;
    height: 40%;
    border-radius: 15%;
    margin-right: 7%; /* Marge à droite pour espacer le paragraphe de l'image */
    margin-left: 7%;
}



.navigation{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5cm;
}

.navigation p {
    margin: 0 auto;
    max-width: 50%;
    font-size: 40px;
    padding-bottom: 3%;
}

.button {
    background-color: #000000; /* Couleur de fond noire */
    color: #ffffff; /* Couleur du texte en blanc */
    border: none; /* Pas de bordure */
    padding: 40px 80px; /* Espacement intérieur du bouton */
    text-align: center; /* Centrer le texte horizontalement */
    text-decoration: none; /* Supprimer la décoration de lien par défaut */
    display: inline-block; /* Afficher le bouton en tant que bloc inline */
    cursor: pointer; /* Afficher un curseur pointer au survol */
    font-size: 30px; /* Taille de police du texte */
    font-weight: bold; /* Gras pour le texte */
    border-radius: 15px; /* Arrondir les coins du bouton */
  }
.dark-mode .button  {
    background-color: #ffffff; /* Couleur de fond noire */
    color: #000000;
    border: none;
}
  .button:hover {
    background-color: #333333; /* Couleur de fond noire foncée au survol */
    animation-name: buttonhover-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
 .dark-mode .button:hover {
    background-color: #333333; /* Couleur de fond noire foncée au survol */
    animation-name: buttonhover-indark;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes buttonhover-in {
    from {
        background-color: #000000;
        padding: 40px 80px;
    }
    to {
        background-color: #333333;
        padding: 40px 100px;
    }
  }
  @keyframes buttonhover-indark {
    from {
        background-color: #ffffff;
        padding: 40px 80px;
    }
    to {
        background-color: #333333;
        padding: 40px 100px;
    }
  }
  .button:not(:hover) {
    animation-name: buttonhover-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transition: background-color 0.3s ease-in-out;
  }

  .dark-mode .button:not(:hover) {
    animation-name: buttonhover-outdark;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transition: background-color 0.3s ease-in-out;
  }
  
  @keyframes buttonhover-out {
    from {
        background-color: #333333;
        padding: 40px 100px;
    }
    to {
        background-color: #000000;
        padding: 40px 80px;
    }
  }

  @keyframes buttonhover-outdark {
    from {
        background-color: #333333;
        padding: 40px 100px;
    }
    to {
        background-color: #ffffff;
        padding: 40px 80px;
    }
  }
  
  .footer{
    color: #ffffff;
    grid-area: l-f;
    display: grid;
    justify-items: center;
    row-gap: 40px;
    padding: 15px 0 15px;
    background-color: rgb(27, 27, 27);
    bottom: 0;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 0;
    
  }
.hlogo {
    position: relative;
   top: -900px;
   right: -50px;
   width: 100px;
   height: 100px;
   animation-name: fadeIn;
    animation-duration: 2s; 
   animation-delay: 0.5s; 
    animation-fill-mode: forwards; 
}
#logo{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
  
#logo .logou{
    display: inline;
    cursor: pointer;
    list-style: none;
    padding-right: 20px;
}
  
.logo{
    width: 50px;
    height: 50px;
}

#navbar {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0; /* Ajout de la propriété left: 0 pour que la barre de navigation soit alignée à gauche */
    right: 0; /* Ajout de la propriété right: 0 pour que la barre de navigation soit alignée à droite */
    z-index: 999;
    width: 100%;
}

#navbar table {
    margin: 0 auto; /* Ajout de la propriété margin: 0 auto pour centrer la table horizontalement */
    width: 100%; /* Ajout de la propriété width: 100% pour que la table occupe toute la largeur */
}

#navbar a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    margin: 0;
    padding: 14px 16px;
}

#navbar a:hover {
    text-decoration: underline;
}

#navbar a img {
    width: 30px;
    height: 30px;
}


input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
  }
  input[type=checkbox]:focus {
    outline: 0;
  }
  
  .toggle {
    height: 32px;
    width: 52px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 0;
    border: 2px solid #474755;
    background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
    transition: all 0.2s ease;
  }
  .toggle:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
  }
  .toggle:checked {
    border-color: #654FEC;
  }
  .toggle:checked:after {
    transform: translatex(20px);
  }

    .image-container {
    position: relative;
    display: inline-block;
    transition: filter 0.3s ease-in-out;
    padding: 1cm;
    cursor: pointer;
    
  }
    .image-container img{
    width: 10cm;
    height: 10cm;
    
  }

    .dark-mode .image-container img{
    filter: invert(1);
    
  }

    .text-box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

    .image-container:hover .text-box {
    opacity: 1;
  }


   .content ul li{
    text-align: justify;
    flex: 1;
    margin-right: 7%; 
    margin-left: 7%;
    font-size: 30px;
   }